<!DOCTYPE html>
<html>
<head>
  <title>Database Viewer</title>
  <!-- Add Bootstrap CSS link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

  <% if (isLoggedIn && currentRoute !== '/dashboard') { %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div style="flex-grow: 1;">
      <a class="navbar-brand" href="/dashboard">LCR Capital</a>
    </div>
    
    <!-- Username centered on all screens other than mobile -->
    <% if (isLoggedIn && currentRoute !== '/') { %>
    <div class="d-none d-lg-flex absolute-center">
      <% if (isLoggedIn) { %>
        <span class="navbar-text" style="color: #CDF281">
          Logged in as <%= username %>
        </span>
      <% } %>
    </div>
    <% } %>

    <!-- Toggler Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <!-- New "Welcome, <%= username %>" for small screens at the top of the collapsible menu -->
        <% if (isLoggedIn) { %>
          <span class="navbar-text d-lg-none text-center" style="color: #CDF281">
              Welcome, <%= username %>
          </span>
        <% } %>
        <!-- Your conditional nav items here -->
        <% if (isLoggedIn && isAdmin && !currentRoute.startsWith('/admin/')) { %>
          <!-- Check if the user is logged in, not on the admin view, and has admin privileges -->
          <li class="nav-item">
            <a class="nav-link btn btn-link admin-link" style="color: #64e6f8;" href="/admin/users">Manage Users</a>
          </li>
        <% } %>
        <% if (isLoggedIn && currentRoute !== '/upload') { %>
          <!-- Check currentRoute -->
          <li class="nav-item">
            <a class="nav-link btn btn-link" href="/upload">Upload</a>
          </li>
        <% } %>
        <% if (isLoggedIn && !currentRoute.startsWith('/pivot')) { %>
          <!-- Check currentRoute -->
          <li class="nav-item">
            <a class="nav-link btn btn-link" href="/pivot">Report</a>
          </li>
        <% } %>
        <% if (isLoggedIn) { %>
          <li class="nav-item lg-d-none">
            <form class="text-center center-button" style="width: 100%" action="/logout" method="post">
              <button class="nav-link btn btn-link text-center" type="submit">Log out</button>    
          </li>
        <% } %>
      </form>
      </ul>
    </div>
    
    
  </nav>
  <% } %>

  <!-- Add jQuery and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
    $(document).ready(function(){
      $(".navbar-toggler").click(function(){
        $("#navbarNav").toggleClass("show");
      });
    });
  </script>
  

  
  