<%- include ('partials/header', { isLoggedIn: isLoggedIn, isAdmin: isAdmin }) -%>

<% if (isLoggedIn) { %>
  <p>You are already logged in.</p>
<% } else { %>
  <div class="container container-login">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="card card-login mt-4"> <!-- Added "mt-4" class for top margin -->
          <div class="image-container mx-auto mt-5 mb-4">
            <img src="/assets/LCR_logo.png" alt="Logo">
          </div>
          <div class="form-header mx-auto">
            <h3>Reset Password</h3>
          </div>
          <div class="card-body card-body-login">
            <div class="mb-3"> <!-- Added a wrapper with "mb-3" class -->
              <form method="post" action="/send-email">
                <div class="form-group">
                  <label for="email-address">Email Address</label>
                  <input type="email" class="form-control" id="email-address" name="email-address" required>
                </div>     
                <button type="submit" class="btn btn-primary btn-send-link btn-block">Send Link</button>
                <div class="forgot-password mt-4"">
                  <a href="/login" class="forgot-password-link">Back to Login</a>
                </div>
              </form>
              <% if (hasMessages) { %>
                <div class="alert alert-danger mt-3" role="alert">
                  <% messages.forEach(function(message) { %>
                  <p><%= message %></p>
                  <% }); %>
                </div>
              <% } else if (locals.error && locals.error.length > 0) { %>
                <div class="alert alert-danger mt-3" role="alert">
                  <%= error %>
                </div>
              <% } else if (locals.success && locals.success.length > 0) { %>
                <div class="alert alert-success mt-3" role="alert">
                  <%= success %>
                </div>
              <% } %>
            </div>           
          </div>
        </div>
      </div>
    </div>
  </div>
  
<% } %>

</body>
</html>
