
  <!-- Include the navbar partial -->
  <%- include ('partials/header', { isLoggedIn: isLoggedIn, isAdmin: isAdmin }) -%>

  <div class="container-fluid mt-5">
    <!-- Table to display data -->
    <div class="card mt-4">
      <div class="card-header">
        <div class="row justify-content-between align-items-center pt-2 px-4">
          <div class="col-auto">
            <h1>Locations</h1>
          </div>
          <!-- Empty div to push the text to the far right -->
          <div class="col">
          </div>
          <!-- H1 text and Log Out button on the far right -->
          <% if (isLoggedIn && isAdmin && !currentRoute.startsWith('/admin/') && currentRoute == '/jobcodes') { %>
          <div class="col-auto text-right">
            
              <a href="/" class="btn btn-info" style="width: 200px;">Back to Data</a>
            
              <a href="/locations" class="btn btn-info" style="width: 200px;">Manage Locations</a>
            
          </div>
          <% } %>
        </div>
      </div>
      <div class="card-body">
        <!-- Table to display data -->
        <table id="dataTable" class="table table-striped mx-4 mx-lg-1 px-4"> <!-- Adjust mx-1 and mx-4 classes -->
          <!-- Table header -->
          <thead>
            <tr>
              <!-- <th>#</th> -->
              <th data-sortable="JobCode">Job Code</th>
              <th data-sortable="JobDescription">Job Description</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            <div id="table-body">
              <% data.forEach((item, index) => { %>
                <tr>
                  <!-- <td><%= index + 1 %></td> -->
                  <td data-column="Co"><%= item.JobCode %></td>
                  <td data-column="ID"><%= item.JobDescription %></td>
                </tr>
              <% }); %>
            </div>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Add Bootstrap JS link and your custom JavaScript file link -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.11.6/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.11.6/css/jquery.dataTables.min.css">


  <!-- Add this script tag at the end of your HTML body -->

  <script>
    $(document).ready(function () {
      // Initialize DataTable
      $('#dataTable').DataTable();
  
      // Disable ordering for non-sortable columns
      $('#dataTable').DataTable({
        columnDefs: [
          { orderable: false, targets: ['no-sort'] }
        ]
      });
    });
  </script> 
</body>
</html>
