<%- include ('partials/header', { isLoggedIn: isLoggedIn, isAdmin: isAdmin }) -%>

<% if (isLoggedIn) { %>
  <p>You are already logged in.</p>
<% } else { %>
  <div class="container container-login">
    <div class="row justify-content-center mt-5">
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="card card-login mt-4"> <!-- Added "mt-4" class for top margin -->
          <div class="image-container mx-auto mt-5 mb-4">
            <img src="/assets/LCR_logo.png" alt="Logo">
          </div>
          <div class="form-header mx-auto">
            <h3>User Login</h3>
          </div>
          <div class="card-body card-body-login">
            <div class="mb-3"> <!-- Added a wrapper with "mb-3" class -->
              <form method="post" action="/login/password">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <!-- <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div> -->
                <div class="form-group">
                  <label for="password">Password</label>
                  <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <div class="input-group-append">
                      <button type="button" id="togglePassword" class="btn btn-light">
                        <i class="bi bi-eye-fill" id="togglePasswordIcon"></i>
                      </button>
                    </div>
                  </div>
                </div>
                
                <button type="submit" class="btn btn-primary btn-login btn-block">Log in</button>
                <div class="forgot-password mt-4"">
                  <a href="/forgot_password" class="forgot-password-link">Reset password</a>
                </div>
              </form>
              <% if (hasMessages) { %>
                <div class="alert alert-danger mt-3" role="alert">
                  <% messages.forEach(function(message) { %>
                  <p><%= message %></p>
                  <% }); %>
                </div>
              <% } %>
            </div>
            <script>
              $(document).ready(function() {
                $("#togglePassword").click(function() {
                  const passwordInput = $("#password");
                  const passwordIcon = $("#togglePasswordIcon");
            
                  if (passwordInput.attr("type") === "password") {
                    passwordInput.attr("type", "text");
                    passwordIcon.removeClass("bi-eye-fill").addClass("bi-eye-slash-fill");
                  } else {
                    passwordInput.attr("type", "password");
                    passwordIcon.removeClass("bi-eye-slash-fill").addClass("bi-eye-fill");
                  }
                });
              });
            </script>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  
<% } %>

</body>
</html>
