<!-- Include the navbar partial -->
<%- include ('partials/header') -%>
  <h1>Data Uploading...</h1>
  <div class="spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</body>
</html>